.contenedor{

}

.Grupos-Usuarios {
  margin: 8px;
  padding: 8px;
  width: 150px;
  height: 20px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: #607d8b;
}
.Rectangle-10 {
  display: flex;
  flex-direction: row;
  width: 1063px;
  height: 590px;
  border-radius: 12px;
  border: solid 0.5px rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
}
.Line-3 {
  background-color: #607d8b;
  margin: 6px;
  padding-left: -15px;
  width: 0.1px;
  height: 36px;
  border: solid 1px #607d8b;


}
.Ipsum-Copy-10 {
  margin-top:16px;
  width: 89px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #607d8b;
}

.Rectangle-3 {
  display:flex;
  align-items: center;
  margin: 7px;
  width: 630px;
  height: 36px;
  border-radius: 18px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-left: 30px;

}
.Buscar {
  margin-top: -20px;
  padding-left: 40px;
  margin-top: 80px;
  width: 122px;
  height: 25px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}
.flecha{
  margin-top:15px;
  margin-left: -10px;
}
.Padre-3{
  padding-left:-10px;
}
.contfle{
  display: flex;
  margin-left: -1px;
}
input {
  width: 630px;
  outline: none;
  background-color: rgb(255, 255, 255);
  border: 0;
}
.Imagen{
  margin-left: 10px;
  margin-right: 10px;

}
.imagenes{
  margin: 14px;
}
.descarga{
  margin-right: 15px;
}
