.Contenedor2{
  display: flex;
  flex-direction: row;
}

.Grupos-Usuarios {
  margin: 8px;
  padding: 8px;
  width: 150px;
  height: 20px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: #607d8b;
}
.Rectangle-10 {

  width: 1063px;
  height: 643px;
  border-radius: 12px;
  border: solid 0.5px rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
}
.Line-3 {
  background-color: #607d8b;
  margin: 6px;
  padding-left: -15px;
  width: 0.1px;
  height: 36px;
  border: solid 1px #607d8b;
  margin-right: 14px;


}
.Ipsum-Copy-10 {
  margin-top:16px;
  width: 89px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #607d8b;
}

.Rectangle-3 {
  display:flex;
  align-items: center;
  margin: 7px;
  width: 630px;
  height: 36px;
  border-radius: 18px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-left: 25px;

}
.Buscar {
  margin-top: -20px;
  padding-left: 40px;
  margin-top: 80px;
  width: 122px;
  height: 25px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}
.flecha{
  margin-top:15px;
  margin-left: -10px;
}
.Padre-3{
  padding-left:-10px;
}
.contfle{
  display: flex;
  margin-left: -1px;
}
input {
  width: 630px;
  outline: none;
  background-color: rgb(255, 255, 255);
  border: 0;
}
.Imagen{
  margin-left: 10px;
  margin-right: 10px;

}
.imagenes{
  margin: 14px;
}
.descarga{
  margin-right: 15px;
  margin-left: -8px;
}
.Line-2-Copy-2 {
  width: 1062px;
  height: 1px;
  border: solid 1px rgba(0, 0, 0, 0.12);
}
.Rectangle-2 {
  width: 1062px;
  height: 48px;
  background-color: white;

}
.Rectangle-5 {
  width: 1062px;
  height: 200px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  margin-top: 17px;
}
.Rectangle-2-Copy {
  width: 1062px;
  height: 48px;
  background-color: rgba(224, 224, 224, 0.3);
  margin-top: 7px;

}
.Rectangle-2-Copy-copy{
  width: 1062px;
  height: 48px;
  background-color: rgba(224, 224, 224, 0.3);
  margin-top: 10px;
}
.desktop_user_groups {
  height: 1px;
  background-color:#eceff1;
}
.img1{
  margin-top: 16px;
  margin-left: 10px;
}
.img2{
  margin-top: 12px;
  margin-left: 10px;
}
.img3{
  margin-top: 13px;
  margin-left: 10px;
}
.img4{
  margin-top: 13px;
  margin-left: 10px;
}
.AlFondo{
  display: flex;
 justify-content: flex-end;
 margin-top: -13px;
 margin-right: 10px;
}
.AlFondo1{
  display: flex;
 justify-content: flex-end;
 margin-top: -16px;
 margin-right: 10px;
}
.AlFondo2{
  display: flex;
 justify-content: flex-end;
 margin-top: -14px;
 margin-right: 10px;
}
.editar3{
  margin-top: -12px;
  margin-right: 10px;
}
.editarante{
  margin-top: -15px;
  margin-right: 10px;
}
.Grupo-Buenos-Aires {
  width: 150px;
  height: 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);

}
.sera{
  margin-top: -25px;
  margin-left: 80px;
}
.No-disponible {
  width: 132px;
  height: 15px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}
.Rectangle-4 {
  display: flex;
  align-items: center;
  width: 132px;
  height: 32px;
  border-radius: 25px;
  background-color: #ff6d00;
  margin-top: -18px;
  margin-right: 20px;
}
.Rectangle-4-copy1{
  display: flex;
  align-items: center;
  width: 132px;
  height: 32px;
  border-radius: 25px;
  background-color: #00c853;
  margin-top: -17px;
  margin-right: 20px;
}
.Rectangle-4-copy2{
  display: flex;
  align-items: center;
  width: 132px;
  height: 32px;
  border-radius: 25px;
  background-color: #00c853;
  margin-top: -20px;
  margin-right: 20px;
}